.experience-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 100vh;
}

.project-item {
    margin-bottom: 20px;
}

.left-column {
    max-height: 100vh;
    flex: 2;
    padding-left: 10vw;
    padding-right: 20vw;
    padding-top: 20vh;
    padding-bottom: 30vh;
    overflow-y: auto;
}

.right-column {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.languages-section,
.frameworks-section,
.skills-section {
    margin-bottom: 15px;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.list-item {
    background-color: #007200;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.small-font {
    font-size: 0.5em;
}